configure.bat
configure.sh
include/
build-*

*.moc
*.obj
*.ui
*.o
*.app
*.user
*.rej

moc_*.cpp
ui_*.h
qrc_*.cpp

*-e

.qmake.cache
.confqmake.cache
.license.accepted

kdchart/lib/
kdchart/tests/Gantt/unittest/unittest
kdchart/tests/Gantt/unittest/TestUnittests

Makefile*
