configure.bat
configure.sh
include/
build-*

*.moc
*.obj
*.o
*.app
*.user
*.orig
*.rej

moc_*.cpp
ui_*.h
qrc_*.cpp

*-e

kdchart/lib/
kdchart/tests/Gantt/unittest/unittest
kdchart/tests/Gantt/unittest/TestUnittests

Makefile*
